// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/reset";

// External libraries
@import "intl-tel-input/src/css/intlTelInput";
@import "lightbox2/dist/css/lightbox";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Base css
html {
  -webkit-overflow-scrolling: touch;
}

body {
  background: $white;
  font-family: $body-font;
  color: $black;
}

h1 {
  font-family: $headers-font;
}

.main {
  position: relative;
  z-index: 20;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
  background: $white;
}

.page-title {
  font-family: $headers-font;
  letter-spacing: 0.1em;
  font-size: 44px;
  text-align: center;
  margin-bottom: 15px;
}

.title-sep {
  background: $red;
  height: 7px;
  border-radius: 50px;
  width: 10%;
  margin: auto;
}

.freezePage {
  overflow: hidden;
  height: 100%;
}

.page {
  padding-top: 60px;
}

// Parallax images
.parallax {
  height: 600px;
  width: 100%;
  background-color: $cream;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 1),
    inset 0 -15px 15px -15px rgba(0, 0, 0, 1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .parallax {
    background-attachment: scroll;
  }

  .page-title {
    font-size: 36px;
  }

  .title-sep {
    height: 5px;
    width: 25%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .parallax {
    height: 300px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
  .parallax {
    height: 400px;
  }
}

// Utilities classes (take on Bootstrap)
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// Restore Bootstrap 3 "hidden" utility classes.
/* Breakpoint XS */
@media (max-width: 575px) {

  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {

  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {

  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {

  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px) {

  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}
