#about-section {
  min-height: 100vh;
  position: relative;
}

.flex-wrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-left {
  width: 40%;
  text-align: justify;
}

.about-text {
  line-height: 1.7em;
}

.flex-right {
  width: 600px;
  height: 450px;
  position: relative;
}

.about-pic {
  position: absolute;
  width: 450px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
}

#pic-menu {
  top: -10px;
  right: -130px;
  z-index: 1;
}

#pic-table {
  top: 220px;
  right: 150px;
  z-index: 2;
}
