#about-section {
  padding-bottom: 70px;
}

.flex-wrapper {
  margin-top: 50px;
}

.flex-left {
  width: 70%;
  margin: 20px auto;
  text-align: justify;
}

.about-text {
  line-height: 1.7em;
}

.flex-right {
  position: relative;
  width: 500px;
  height: 450px;
  margin: 80px auto;
}

.about-pic {
  position: absolute;
  width: 450px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
}

#pic-menu {
  top: -10px;
  right: -130px;
  z-index: 1;
}

#pic-table {
  top: 160px;
  right: 200px;
  z-index: 2;
}


@media (min-width: 1400px) {
  .flex-wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-left {
    width: 40%;
  }

  .flex-right {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .flex-left {
    width: 100%;
  }

  .flex-right {
    width: 100%;
    margin: 50px auto 0 auto;
  }

  .about-pic {
    width: 80%;
  }

  #pic-menu {
    left: 0;
    top: 0;
  }

  #pic-table {
    top: 185px;
    right: 0;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .about-pic {
    width: 80%;
    margin: 15px 0;
  }

  .flex-left {
    width: 100%;
  }

  .flex-right {
    width: 100%;
    min-height: 650px;
    text-align: center;
    margin: 10px 0;
  }

  #pic-menu {
    left: 0;
    top: 0;
  }

  #pic-table {
    top: 280px;
    right: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 1) {
  #about-section {
    padding-bottom: 0;
  }

  #pic-table {
    top: 140px;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  #pic-table {
    top: 250px;
  }
}
