#about-section {
  min-height: 100vh;
  position: relative;
}

.about-pic {
  width: 450px;
}


.flex-left {
  width: 70%;
  margin: 20px auto;
  text-align: justify;
}

.about-text {
  line-height: 1.7em;
}

.flex-right {
  position: relative;
  width: 600px;
  height: 450px;
  margin: 20px auto;
}

.about-pic {
  position: absolute;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .8);
}

#pic-menu {
  top: -10px;
  right: -130px;
  z-index: 1;
}

#pic-table {
  top: 220px;
  right: 150px;
  z-index: 2;
}


@media (min-width: 1400px) {
  .flex-wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-left {
    width: 40%;
  }

  .flex-right {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {}
