.home {
  min-height: 100vh;
}

.banner {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;

  .logo-wrapper {
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .logo-banner {
    width: 200px;
    height: auto;
  }

  #slogan {
    letter-spacing: 0.1em;
    color: $white;
    font-size: 40px;
    padding-top: 10px;
  }
}
