#location-hour-section {
  background: $light-gray;
  padding: 20px 0;
}

.subsection-title {
  font-family: $headers-font;
  font-size: 26px;
  letter-spacing: 0.1em;
  margin: 10px auto 5px auto;
  font-style: italic;
}

.flex-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subsection-sep {
  background: $red;
  height: 5px;
  border-radius: 50px;
  width: 35px;
  margin: 12px 0 10px 0;
}

.details-wrapper {
  margin: 40px auto;
}

#address {
  line-height: 1.8;
  font-style: normal;
}

.contact-link {
  color: $black;
}

.contact-link:hover {
  color: $black;
  text-decoration: none;
}

// Mapbox styling
#map {
  height: 450px;
  width: 550px;
  margin: 50px auto;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $headers-font;
  padding: 20px !important;
  letter-spacing: 0.2em;

  h5 {
    margin: 10px auto 0;
    font-size: 18px;
  }
}

.popup-logo {
  width: 50px;
  height: auto;
}

// END Mapbox styling
