#menu-section {
  background: $cream;
}

.menu-section-flex-container {
  margin: 100px auto 0;
  padding-bottom: 100px;
}

/* fade slider */
.slides {
  position: relative;
  min-height: 367px;
}

.slides ul {
  list-style: none;
  position: relative;
  margin: 0;
}

/* keyframes #anim_slides */
@keyframes anim_slides {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.slides ul li {
  opacity: 0;
  position: absolute;
  top: 0;
  animation: 24s linear infinite anim_slides;
}

/* css3 delays */
.slides ul li:nth-child(2),
.slides ul li:nth-child(2) div {
  animation-delay: 6s;
}

.slides ul li:nth-child(3),
.slides ul li:nth-child(3) div {
  animation-delay: 12.0s;
}

.slides ul li:nth-child(4),
.slides ul li:nth-child(4) div {
  animation-delay: 18.0s;
}

.slides ul li img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .6);
}

/* END */

.menu-text-container {
  width: 35%;
  text-align: center;
  line-height: 1.8em;
}

.food-text-wrapper {
  margin-top: 25px;
}

#menu-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 20px;
  color: $black;
  text-align: center;
}

#menu-link:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .menu-text-container {
    width: 80%;
    text-align: center;
    margin: 40px auto;
  }

  .menu-section-flex-container {
    margin: 0 auto;
  }

}

@media (min-width: 992px) {
  .menu-section-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slides {
    width: 550px;
  }
}

@media (min-width: 1201px) {
  .slides {
    width: 650px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu-section-flex-container {
    padding-bottom: 0;
  }

}
