#our_cuisine {
  background: $cream;
}

.menu-section-flex-container {
  margin: 50px auto 0;
}

/* fade slider */
#slide-container {
  position: relative;
  max-width: 550px;
  margin: 0 auto 40px auto;
}

@media (min-width: 1200px) {
  #slide-container {
    max-width: 650px;
  }
}

/* First element to be in block mode for responsiveness */
#slide-element-1 {
  display: block;
  width: 100%;
  height: auto;
}

/* Other element to be in absolute position */
#slide-element-2,
#slide-element-3,
#slide-element-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/* Animation settings for individual elements */
#slide-element-1 {
  animation: fade-1 20s infinite;
}

#slide-element-2 {
  animation: fade-2 20s infinite;
}

#slide-element-3 {
  animation: fade-3 20s infinite;
}

#slide-element-4 {
  animation: fade-4 20s infinite;
}

// /* and more if there are more slides to show */
@keyframes fade-1 {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-3 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-4 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* END */

.menu-text-container {
  width: 90%;
  line-height: 1.9em;
  margin: auto;
}

.menu-link-wrapper {
  text-align:center;
}

#menu-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 20px;
  color: $black;
  text-align: center;
  margin:auto;
}

#menu-link:hover {
  opacity: 0.8;
}

.order_booking {
  margin: 50px auto 80px auto;
}

.cta-buttons {
  margin: 20px auto;
  text-align: center;
}

.order-btn {
  cursor: pointer;
  display: inline-block;
  background: $red;
  text-transform: uppercase;
  border-radius:5px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.3em;
  color: $white;
  padding: 25px 60px;
  text-decoration: none;
  margin: 0.625rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  background: linear-gradient(#70181c, $red);
  transition: background 0.3s ease;
  width: 358px;
}

.order-btn:hover {
  background: linear-gradient(#9a2226, $red);
}

#gallery-section {
  background-image: url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1600169601/texttures-bg-mobile-720x1280.png);
  padding: 40px 0;
}

/* gallery grid */
.gallery {
  margin: 50px auto;
  transition: all .5s ease-in-out;
}

/* Masonry item */
.gallery .brick {
  padding: 5px;
}

/* Masonry image effects */
.gallery .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden;
  /* Remove Image flickering on hover */
  border-radius: 2px;
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.gallery .brick:hover img {
  opacity: .75;
}

// lightbox centering for mobile + overlay color + remove caption on landscape
.lightboxOverlay {
  background-color: $black;
  opacity: 0.9;
}

#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
}

.lb-caption,
.lb-number {
  font-family: $body-font;
}

// star reinsurance item
.event-section {
  position: relative;
  margin: 20px auto 50px;
}

.events-wrapper{
  padding-top: 20px;
}

.events-text {
  max-width: 70%;
  text-align: justify;
  margin: 40px auto;

  p {
    line-height: 1.7em;
  }
}

#events-link {
  color: $black;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    color: $red;
  }
}

.clients {
  padding-top: 20px;
  h2 {
    text-align:center;
  }
  hr {
    background: #851D21;
    height: 4px;
    border-radius: 50px;
    width: 10%;
    margin: auto;
  }
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}

.brands__item {
    margin:15px 10px;
}

.brands__item img {
    width: auto;
    max-height: 100px;
}

@media (max-width: 992px) {
  .menu-text-container {
    margin: 40px auto;
    p {
      margin-bottom: 40px;
    }
  }

  .menu-section-flex-container {
    margin: 40px auto;
    padding-bottom: 0;
  }
  .events-text {
    max-width: 90%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .order-btn {
    width: 250px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    column-count: 3;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .gallery {
    column-count: 4;
  }
}

@media only screen and (max-width: 1024px) {
  .brands {
    width: 100%;
    justify-content: space-evenly;
  }
  .brands__items {
    margin: 15px 20px;
  }
  .brands__item img {
    max-height: 100px;
}
}
