#menu-section {
  min-height: 100vh;
  background: $cream;
  padding: 50px 0;
}

.menu-section-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
}


/* fade slider */
.slides {
  height: 360px;
  width: 650px;
  margin-left: -50px;
  position: relative;
}

.slides ul {
  list-style: none;
  position: relative;
  margin: 0;
}

/* keyframes #anim_slides */
@keyframes anim_slides {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.slides ul li {
  opacity: 0;
  position: absolute;
  top: 0;
  animation: 24s linear infinite anim_slides;
}

/* css3 delays */
.slides ul li:nth-child(2),
.slides ul li:nth-child(2) div {
  animation-delay: 6s;
}

.slides ul li:nth-child(3),
.slides ul li:nth-child(3) div {
  animation-delay: 12.0s;
}

.slides ul li:nth-child(4),
.slides ul li:nth-child(4) div {
  animation-delay: 18.0s;
}

.slides ul li img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .6);
}

//  END

.menu-text-container {
  width: 35%;
  text-align: justify;
  line-height: 1.8em;
}

#menu-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 20px;
  color: $black;
}

#menu-link:hover {
  opacity: 0.8;
}
