<section id="about-section" class="page">
  <div class="container">
    <h2 class="page-title">About Us</h2>
    <hr class="title-sep">
    <div class="flex-wrapper">
      <div class="flex-left">
        <p class="about-text">N°21 Restaurant is a design and cosy restaurant nested in the middle of D3, less than 5
          min away from the heart of booming Saigon.</p>
        <p class="about-text">As all begins with ingredients, we are focusing on quality ones responsible sourcing and
          sustainability at every chance we get. <br>
          We served all day long, from <strong>6 AM to 10:45 PM</strong> last order. Breakfast Buffet, Set Lunch and All
          Day menu.</p>
        <p class="about-text"> N°21 posses 2 terraces and a mezzanine which can be privatized for any kind of event.</p>
      </div>
      <div class="flex-right">
        <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcIAAADICAYAAAB79OGXAAACfUlEQVR42u3VMQEAMAjAsOHf2kQggY8XC/wkEvo0uvI/ADgqjBAAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwTACI0QACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEwAhlAMAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIATBCIwTACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAFgYwA0y8u/r/+eyAAAAABJRU5ErkJggg==", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579279782/about_menu.jpg" }, alt: "N21 Restaurant - Menu cover", class:"about-pic lazy", id:"pic-menu" %>
        <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcIAAADICAYAAAB79OGXAAACfUlEQVR42u3VMQEAMAjAsOHf2kQggY8XC/wkEvo0uvI/ADgqjBAAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwQAIwTACI0QACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEACMEwAhlAMAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIAcAIATBCIwTACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAHACAFgYwA0y8u/r/+eyAAAAABJRU5ErkJggg==", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579279782/roast_cider_about.jpg" }, alt: "N21 Restaurant - Roast Cider", class:"about-pic lazy", id:"pic-table" %>
      </div>
    </div>
  </div>
</section>
