<section id="contact-section" class="page">
  <div class="container">
    <h2 class="page-title">Contact Us</h2>
    <hr class="title-sep">
    <div class="contact1">
      <div class="container-contact1">
        <form class="contact1-form validate-form" action="https://formspree.io/xpzdaavg" method="POST">
          <div class="row">
            <div class="wrap-input1 validate-input" data-validate="Name is required">
              <label for="form-name" class="sr-only">Name</label>
              <input class="input1" id="form-name" type="text" name="name" placeholder="Name">
            </div>
            <div class="wrap-input1 validate-input" data-validate="Phone number is required">
              <label for="form-phone" class="sr-only">Phone</label>
              <input class="input1" id="form-phone" type="tel" placeholder="Phone Number">
              <span id="valid-msg" class="hide"><i class="fas fa-check"></i> Valid</span>
              <span id="error-msg" class="hide"></span>
            </div>
          </div>
          <div class="row">
            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <label for="form-email" class="sr-only">Email</label>
              <input class="input1" id="form-email" type="email" name="email" placeholder="Email">
            </div>
            <div class="wrap-input1 validate-input" data-validate="Subject is required">
              <label for="form-subject" class="sr-only">Subject</label>
              <input class="input1" id="form-subject" type="text" name="subject" placeholder="Subject">
            </div>
          </div>
          <div class="validate-input" data-validate="Message is required" id="message-area">
            <label for="form-message" class="sr-only">Message</label>
            <textarea class="input1" id="form-message" name="message" placeholder="Message"></textarea>
          </div>
          <div class="container-contact1-form-btn">
            <button class="contact1-form-btn">
              <span>
                Send Email
                <i class="fas fa-arrow-right"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
