<section id="home-section">
  <div class="banner parallax"
    style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1597240069/table.jpg);">
    <div class="logo-wrapper zoomIn">
      <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1583331812/logo_banner.png", alt: "N21 Restaurant - Logo", class:"logo-banner" %>
      <h1 id="slogan">High Standard Bistronomie</h1>
    </div>
  </div>
</section>
