<section id="home-section">
  <div class="banner parallax"
    style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.25)),url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1579268872/banner.jpg);">
    <div class="logo-wrapper zoomIn">
      <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579273402/Logo_white_noBg.png", alt: "N21 Restaurant - Logo", class:"logo-banner" %>
      <h1 id="slogan">High Standard Bistronomie</h1>
    </div>
  </div>
</section>
