<section id="menu-section">
  <div class="container">
    <h2 class="page-title">Menu</h2>
    <hr class="title-sep" />
    <div class="menu-section-flex-container">
      <div class="carousel-container">
        <div class="slides">
          <ul>
            <li>
              <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/enomatic.jpg", alt: "N21 Restaurant - High Standard Bistronomie" %>
            </li>
            <li>
              <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/Goat_Cheese.jpg", alt: "N21 Restaurant - High Standard Bistronomie" %>
            </li>
            <li>
              <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/prawn_ceviche.jpg", alt: "N21 Restaurant - High Standard Bistronomie" %>
            </li>
            <li>
              <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/Beef_Brisket.jpg", alt: "N21 Restaurant - High Standard Bistronomie" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-text-container">
        <p>
          As all begins with ingredients, we are focusing on quality ones,
          responsible sourcing and sustainability at every chance we get.
        </p>
        <a id="menu-link" href="https://res.cloudinary.com/dpra9vwkq/image/upload/v1580391774/N21_menu.pdf"
          target="_blank" rel="noopener noreferrer">
          View the full menu
        </a>
      </div>
    </div>

  </div>
</section>
