<section class="footer">
  <div class="footer-links">
    <p>Follow us on</p>
    <a href="https://www.instagram.com/n21restaurant/?hl=en" target="_blank" rel="noopener noreferrer"
      aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/N21restaurant/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i
        class="fab fa-facebook"></i></a>
  </div>
  <div class="logo">
    <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579273402/Logo_white_noBg.png", alt: "N21 Restaurant - Logo", class:"logo-footer" %>
  </div>
  <div class="footer-copyright">
    Website made with <i class="fas fa-heart"></i> by Xela and Floppy.
  </div>
</section>
