<section class="footer">
  <div class="footer-links">
    <p>Follow us on</p>
    <a href="https://www.instagram.com/n21restaurant/?hl=en" target="_blank" rel="noopener noreferrer"
      aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/N21restaurant/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i
        class="fab fa-facebook"></i></a>
  </div>
  <div class="logo">
    <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579273402/Logo_white_noBg.png", alt: "N21 Restaurant - Logo", class:"logo-footer" %>
  </div>
  <div id="copyright">
    <p>© 2020 N21 Restaurant. All rights reserved</p>
  </div>
</section>
<section id="colophon">
  <div class="credits">
    <p>Website by <a href="https://www.alexgwebdev.com/" target="_blank" rel="noopener noreferrer">
        <%= image_tag "https://res.cloudinary.com/dsr9bgg8i/image/upload/v1561743144/logo_alex.png", class: "logo-dev", alt: "Alex G - Web developer"%></a>
      and
      <a href="#" target="_blank" rel="noopener noreferrer">
        <%= image_tag "", class: "logo-dev", alt: "Florian Dublanc - Web developer"%>
      </a>
    </p>
  </div>


</section>
