// Define variables for your color scheme
$red: #851D21;
$black: #000000;
$cream: #F7F0E0;
$white: #ffffff;

$light-gray: #F4F4F4;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;