.footer {
  background: $black;
  min-height: 100px;
  color: $white;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    padding-right: 10px;
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
  }
}


.footer-links a:hover {
  opacity: 0.2;
}

.footer .fa-heart {
  color: $red;
}

.logo-footer {
  width: 70px;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }

  .footer-links {
    justify-content: center;
    padding: 20px 0;

    p {
      font-size: 18px
    }
  }

  .logo {
    text-align: center;
    margin: 10px auto 40px auto;
  }

  #copyright {
    text-align: center;

    p {
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 769px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


  .logo-footer {}
}
