#navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
  top: -80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 15px 0 rgba(255, 255, 255, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#navbar.scrolled {
  visibility: visible;
  opacity: 1;
  transform: translate(0,80px);
}

// Prenav
.pre-navbar {
  background-image: url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1600169601/texttures-bg-mobile-720x1280.png);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 0px 50px;
  color: white;
}

.pre-nav-links {
  display: flex;
  align-items: center;
  font-size: 15px;

  li {
    padding: 0 25px;
  }

  .fa-phone,
  .fa-clock,
  .fa-envelope {
    padding-right: 5px;
    font-size: 16px;
  }
}

.pre-nav-link {
  color: white;
  text-decoration: none;
}

.pre-nav-link:hover{
  color: $cream;
  cursor: pointer;
}
// END PRENAV

.nav-wrapper {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo-left {
  width: 50px;
}

/* Middle section */
.navbar-middle {
  flex-grow:1;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Navbar link */
.navbar-item {
  padding: 0 25px;
  margin-top: 8px;
}

.navbar-link {
  color: $white;
  font-size: 1.2rem;
  font-family: $headers-font;
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
  position: relative;
}

.navbar-link:hover {
  color: $cream;
}

.navbar-link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $cream;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-link:hover:after {
  width: 100%;
  color: $cream;
  left: 0;
}

// navbar right section
.navbar-right {
  display:flex;
  align-items: center;
}

.cta-wrapper {
  display:flex;
}

.btn-flat {
  margin:0 10px;
  color: white;
  padding: 10px 25px 6px;
  border-radius: 5px;
  background: $red;
  transition: background 0.3s ease;
  box-shadow: 2px 2px 10px -1px #ffffff;
  cursor: pointer;
  font-family: $headers-font;
  letter-spacing: 1px;
  font-size: 1rem;
}

.btn-flat:hover {
  background: #9a2226;
  color: white;
}

.nav-icon {
  color: $white;
  font-size: 26px;
  margin: 0 10px;
  padding-bottom: 0;
}

.nav-icon:hover {
  color: $cream;
  transition: 0.3s ease;
}

// Langue picker
.languePicker-wrapper {
  width: 140px;
  text-align: center;
  color:white;
}

.sl-nav ul {
  margin:0;
  padding:0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.current_langue {
  font-weight: bold;
  i {
    padding-left:5px;
  }
}

.sl-nav li {
  cursor: pointer;
  padding: 10px;
}

.fa-globe {
  padding-right:5px;
}

#current_langue {
  padding-right:5px;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top:40px;
  right:-20px;
  display: block;
  background: #fff;
  width: 140px;
  padding-top: 0px;
  z-index: 1;
  border-radius:5px;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.5);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 25px;
  right: 0;
  z-index:10;
  height: 16px;
  overflow:hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  padding: 15px;
  padding-bottom:0;
  z-index: 2;
  font-size: 16px;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 20px;
}

.sl-nav li ul li a {
  padding-left: 5px;
  color: black;
  text-decoration:none;
}

.sl-nav li ul li a.active {
  font-weight:bold;
}

.sl-nav li ul li a:hover {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 8px;
  overflow: hidden;
}

.flag-uk {
  background: url('/assets/images/uk.jpg');
  background-size: cover;
  background-position: center center;
}
.flag-vn {
  background: url('/assets/images/vietnam.png');
  background-size: cover;
  background-position: center center;
}


// start sidenav
.mobile_nav {
  position: absolute;
  right: 20px;
}

#logo-sideNav {
  height: 60px;
  margin-top: 25px;
}

.sidenav {
  height:100vh;
  width: 0;
  position: fixed;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #878787;
  background-image: url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1600169601/texttures-bg-mobile-720x1280.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: all 0.3s ease-out;


  ul {
    margin: 60px auto 0 auto;
    text-align: center;
  }

  li {
    margin: auto;
    width: fit-content;
    padding: 40px 0;
  }
}

.show-sidenav {
  width: 100%;
  opacity: 1;
}

.sidenav a {
  text-decoration: none;
  font-size: 26px;
  font-family: $headers-font;
  color: $black;
}

.sidenav a:hover {
  color: $cream;
}

.sidenav-content {
  margin-top: 120px;
}

.cta-wrapper-sidenav {
  text-align: center;
  margin: 0px auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-ghost-sidenav {
  color: $black;
  border: 2px solid $black;
  padding: 15px 25px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
  font-family: $headers-font;
  letter-spacing: 2px;
  font-size: 1.2rem;
  background: transparent;
  margin: 10px auto;
  width: 250px;
}

.btn-ghost-sidenav:hover {
  opacity: 1;
  color: $cream;
  border-color: $cream;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.langue-picker-sidenav-wrapper {
  text-align: center;
  margin: 50px auto;
  i {
    font-size: 25px;
    padding-right:5px
  }
  a {
    font-size: 20px;
    font-family: $body-font;
    padding: 0 5px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}


.social-wrapper-sidenav {
  text-align: center;
  // margin-top: 100px;
}

.social-links-sidenav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.social-links-sidenav a {
  color: $black;
  cursor: pointer;
  font-size: 36px;
  padding: 0px 20px;
  transition: all 0.5s;
  &:hover {
    color: $cream;
  }
}

// Hamburger
.hamburger {
  background: url('https://res.cloudinary.com/dpra9vwkq/image/upload/v1583333596/burger_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 45px;
  width: 40px;
  z-index: 4;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

.front-position {
  position: relative;
}

.sliding-img-left,
.sliding-img-right {
  z-index: 4;
  cursor: pointer;
  height: 45px;
  width: auto;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  transition: left 0.3s ease-in, right 0.3s ease-in, top 0.3s ease-in;
}

.sliding-img-left {
  left: 0;
}

.sliding-img-right {
  right: 12px;
  top: 0;
}

.show-letter-n {
  left: -31px;
  opacity: 1;
  animation: fadein 0.3s;
}

.show-letter-21 {
  top: 55px;
  opacity: 1;
  animation: fadein 0.3s;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .nav-wrapper {
    padding: 0px 15px;
  }

  .navbar-item {
    padding: 0 15px;
  }

  .navbar-link {
    font-size: 18px;
  }

  .nav-icon {
    font-size: 28px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidenav li {
    padding: 25px 0;
  }
  .sidenav-content {
    margin-top: 100px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .sidenav ul {
    margin: 50px auto 0 auto;
  }

  .social-wrapper-sidenav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .sidenav-content {
    margin-top: 180px;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .sidenav-content {
    margin-top: 200px;
  }
  .cta-wrapper-sidenav {
    margin: 50px auto;
  }
  .langue-picker-sidenav-wrapper {
    margin: 100px auto;
  }
}
