#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  // background-color: rgba(0, 0, 0, 1);
  z-index: 100;
  box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.6);
}

.nav-wrapper {
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo-left {
  width: 70px;
  border-radius: 5px;
}

/* Middle section */
.navbar-middle {
  margin-left: 160px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/* Navbar link */
.navbar-item {
  padding: 0 25px;
}

.navbar-link {
  color: $white;
  font-size: 20px;
  font-family: $headers-font;
  letter-spacing: 4px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
  position: relative;
}

.navbar-link:hover {
  color: $cream;
}

.navbar-link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $cream;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-link:hover:after {
  width: 100%;
  color: $cream;
  left: 0;
}

.nav-icon {
  color: $white;
  font-size: 32px;
  margin: 0 10px;
  padding-bottom: 0;
}

.nav-icon:hover {
  color: $cream;
  transition: 0.3s ease;

}
