---
title: N21 Restaurant - High standard bistronomie
---

<!-- Each section goes on a partial under layouts/pages/ -->
<div class="main">
  <%= partial "/pages/home" %>
  <%= partial "/pages/about" %>
  <%= partial "/pages/contact" %>
</div>
