---
title: N21 Restaurant - High standard bistronomie
---

<!-- Each section goes on a partial under layouts/pages/ -->

<div class="main">
<<<<<<< HEAD
  <%= partial "layouts/pages/home" %>
  <%= partial "layouts/pages/contact" %>
=======
  <%= partial "/pages/home" %>
  <%= partial "/pages/about" %>
>>>>>>> 504670c2ec045f92db3cac0609e98a305c327781
</div>
