---
title: N21 Restaurant - High standard bistronomie
---

<!-- Each section goes on a partial under layouts/pages/ -->

<div class="main">
  <%= partial "layouts/pages/home" %>
  <%= partial "layouts/pages/contact" %>
</div>
